{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "printWidth": 80,
  "arrowParens": "always",
  "proseWrap": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
