@import '../common.scss';

.titleContainer {
  @include flexColumnStartContainer;

  p {
    font-size: 18px;
  }

  ::selection {
    background-color: var(--secondary);
    color: var(--primary)
  }
}