@import "../common.scss";

@media (width < 1024px) {
  .experienceContainer {
    @include flexColumnStartContainer;
    gap: .2rem;

    &__content {
      @include flexColumnStartContainer
    }
  }
}

@media (width > 1024px) {
  .experienceContainer {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    padding: var(--default-container-padding);

    &__time {
      @include flexColumnStartContainer
    }

    &__content {
      @include flexColumnStartContainer
    }
  }
}

.experienceSectionContainer {
  @include flexColumnStartContainer;

  &__link {
    @include flexRowStartContainer;
    align-items: center;
    gap: .5rem;

    cursor: var(--default-cursor);

    &--icon {
      transition: transform 1s ease;

      &:hover {
        transform: translateX(10px);
        color: var(--secondary)
      }
    }

    &:hover > .experienceSectionContainer__link--icon {
      transform: translateX(10px);
      color: var(--secondary)
    }

    &:hover {
      text-decoration: underline var(--secondary);
    }
  }
}

.singleTagContainer {
  @include flexRowStartContainer;
  gap: .8rem;
  align-items: center;
  flex-wrap: wrap;

  &__tag {
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--action);
    color: var(--primaryDark);
    font-weight: bold;
    white-space: nowrap;
    font-size: var(--small-fontSize)
  }
}

