@import '../common.scss';

.projectSectionContainer {
  @include flexColumnStartContainer
}

.projectContainer {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;

  &__img {
    @include flexColumnStartContainer;
    margin-right: 2rem;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--default-border-radius);
      border: 1px solid var(--primaryLight);
    }
  }

  &__content {
    @include flexColumnStartContainer
  }

}