@import './common.scss';

.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  margin-left: 25rem;
  margin-right: 25rem;

  gap: var(--default-container-gap);

  &__contentArea {
    grid-area: 1 / 2 / 6 / 3;
    @include flexColumnStartContainer;
    gap: 10rem;

    margin-top: var(--default-container-margin);
    margin-bottom: var(--default-container-margin);
  }
}

.stickyContainer {
  grid-area: 1 / 1 / 6 / 1;

  @include flexColumnStartContainer;
  height: 100vh;

  /* Make Flexbox container sticky */
  position: sticky;
  align-self: flex-start;
  top: 0;

  &__content {
    @include flexColumnStartContainer;

    height:100%;

    margin-top: var(--default-container-margin);;
    margin-bottom: var(--default-container-margin);;

    &--navLinks {
      @include flexColumnStartContainer;
      margin-top: 3rem;
      cursor: var(--default-cursor);
    }

    &--iconLinks {
      @include flexRowStartContainer;
      margin-top: auto;
      cursor: var(--default-cursor)
    }
  }
}

.navLinkContainer {
  @include flexRowStartContainer;
  align-items: center;
  gap: .8rem;

  &__bar {
    width: 25px;
    height: 1px;
    background-color: var(--secondary);
    transition: width 1s;

    &--active {
      @extend .navLinkContainer__bar;
      width: 60px;
    }
  }

  &:hover > .navLinkContainer__bar {
    width: 60px;
  }
}

.activeNavLink {
  color: var(--secondary)
}

.iconButton {
  color: var(--secondary);

  &:hover {
    color: var(--secondaryLight);
  }
}